import(methods)
import(BiocGenerics)
import(GenomicRanges)
import(SeqTools)
import(foreach)
import(data.table)
import(biosignals)

exportClasses(TagSeqExperiment, SAGEseqExperiment)

exportMethods(
              annotateReads,
              countTagsByRegion,
              TPM, iTPM,

              tagSummaryByGene,
              tagTable)

export(internalPrimingSummary,
       flagInternallyPrimedEventsByBoundedQuantiles,
       flagInternalInternallyPrimedEventsByBoundedQuantiles,

       createCountMatrix,

       aggregateTxBounds,
       inferTxBounds,

       annotateSummarizedExperiment,

       summarizeTagClustersFromExperiments,
       identifyPeaksOnChromosome,
       quantifyPeakExpression,

       # ApA specific,
       collectPolyAPositionStatistics
       )
